
.board-container{
    display:flex;
    align-items: center;
    height:100%;
    width:100%;
    position:relative; bottom:-20px;
}

div#wrapper {
    display:grid;
    grid-template-columns: 0.4fr 1fr 2fr 1fr ;
    height:700px;
    width:100%;
    position:relative;
    bottom:-50px;
}


h1 {
    color:red;
    text-align: center;
}


.player-container {
    height:200px; 
    width:200px;
    display:flex;
    border-style:solid;
    justify-content: space-around
    
}
    
div#redpieces {
    display: flex;
    border-style: solid;
    height: 200px;
    color:red;
}
div#blackpieces {
    display: flex;
    border-style: solid;
    height: 200px;
}

#checkers-board {
    display: grid;
    grid-template-columns: repeat(8,9vmin);
    grid-template-rows: repeat(8, 9vmin);
}

#checkers-board div {
    height:50px;
    width:50px;
    display:inline-block;
    border-style:solid;
}

row {
    height:50px;
    width:50px;
}

button {
    height:60px;
    width:70px;
    position:relative;
    bottom:-300px;
}

     /* @media screen and (max-width: 1117px) {
    #checkers-board{
    grid-template-columns: repeat(8 ,5.5vmin);
    grid-template-rows:repeat (8, 9vmin);
    }
    #checkers-board div{
        height:40px;
        width:40px;
    }

}    */
    
    
   
    
    

    
    



    

